/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

////----------fontface-----------
@font-face {
    font-family: 'riffic-bold';
    src: font-url('riffic-bold-webfont.woff2') format('woff2'),
         font-url('riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

////----------Layouts-----------
html, body{
	width: 100%;
	height: 100%;
	position: relative;
}

.container-fluid {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
}

.row {
	margin: 15px 10px;
}

p {
	margin: 0 0 10px;
}

.section-heading {
	color: #F57C00
}
////----------navbar--------------
.navbar-brand img {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 6px;
		padding-top: 2px;
    width: 40px;
    height: 50px;
}

.navbar-block {
		background-color: #FFB300;
		height:55px;
		border-bottom: 2px solid;
		border-color: rgba(255,255,255,0.6);
}

.navbar-default .navbar-brand-reg {
    color: #FFFFFF;
}

.navbar-default .navbar-brand-core {
    color: #F57C00;
		// -webkit-text-stroke-width: 0.5px;
		// -webkit-text-stroke-color: black;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 12px 15px;
		margin-top: 5px;
    line-height: 30px;
    position: relative;
    left: 15px;
    bottom: 13px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    font-weight: bold;
}

/**-- Main dropdown Menu ---***/
.dropdown .dropdown-toggle i{
	position: absolute;
	display: block;
	border: none;
	color: rgba(255,255,255,0.6);
	cursor: pointer;
}

.dropdown .dropdown-toggle:hover i{
	color: #FFFFFF;
}

ul.dropdown-menu {
	background-color: rgba(255,255,255,0.8);
	vertical-align: middle;
	top: 40px;
}

ul.dropdown-menu > li > a:hover{
	background-color: #F57C00;
	color: white;
}

  /**---Rightside Menu --**/
#bs-example-navbar-collapse-1 .navbar-right > li > a {
	color: #FFFFFF;
	border-color: #FFFFFF;
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 10px;
	right: 30px;
}

#bs-example-navbar-collapse-1 .navbar-right  > li > a:hover,
#bs-example-navbar-collapse-1 .navbar-right  > li > a:focus {
    color: white;
    border-color: #FFFFFF;
    background-color: #F57C00;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

li.navbar-link > li > a {
		color: white;
		border: none;
		border-color: none;
}

#bs-example-navbar-collapse-1 .navbar-link> .active > a,
#bs-example-navbar-collapse-1 .navbar-nav .navbar-cart> .active > a:hover,
#bs-example-navbar-collapse-1 .navbar-nav .navbar-cart> .active > a:focus {
    color: #FFFFFF;
    background-color: #F57C00;
		border: none;
}

#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a,
#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a:focus,
#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a:hover {
    background-color: transparent;
    color: #FFFFFF;
}

////---------WELCOMEpage----------

////--------ProgramIndex----------


 //-------Carousel------------
#background-carousel {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.carousel, .carousel-inner {
	width: 100%;
	z-index: 0;
}
 .carousel-inner .item img{
	display: block;
	max-height: 600px;
	width: 100%;
	margin: 0 auto;
	background-size: cover;
	background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
 }

 .item {
		background-position: center center;
		background-size: cover;
		// z-index: 0;
 	}

	.carousel-indicators {
		bottom:50;
	}
	.intro .carousel-control.right,.intro .carousel-control.left {
		background-image:none;
		display:none;
	}
	.carousel-indicators li,.carousel-indicators li.active {
		width:15px;
		height:15px;
		margin:0;
		background-color: #F57C00;
	}
	.intro .item {
		min-height:680px;
		height:100%;
		width:100%;
		background-size:cover;
	}
	.carousel-caption h1 {
		font-size:90px;
		color:#fff;
		margin-top:10px;
		margin-bottom:10px;
		letter-spacing:3px;
		font-family:"Mrs Sheppards";
	}
	.carousel-caption h2 {
		font-size:30px;
		letter-spacing:1px;
		font-weight:300;
	}
	.carousel .icon-container {
		display:inline-block;
		font-size:25px;
		line-height:25px;
		padding:1em;
		text-align:center;
		border-radius:50%;
	}
	.carousel-caption button {
		border-color:#00bfff;
		margin-top: 1em;
	}
	/* Animation delays */
	.carousel-caption h3:first-child {
		-webkit-animation-delay:1s;
		animation-delay:1s;
	}
	.carousel-caption h3:nth-child(2) {
		-webkit-animation-delay:2s;
		animation-delay:2s;
	}
	.carousel-caption button {
		-webkit-animation-delay:3s;
		animation-delay:3s;
	}
	.carousel-control,.carousel-caption {
		text-shadow:none;
	}
	.intro .item:before {
		content:"";
		background-color:rgba(0,0,0,0.5);
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index:1;
	}
	.carousel-caption .btn {
		margin-top:10px;
		font-size:11px;
		padding:17px 20px;
		margin-left:5px;
		margin-right:5px;
		min-width:150px;
		text-align:center;
	}

 //-------ProgramPortfolio-----
 #portfolio {
	 height: 420px;
 }
	.portfolio-box {
		display:inline-block;
		position:relative;
		margin:0 auto;
		max-width:650px;
	}

	a.portfolio-box img{
		height: 240px;
		width: 100%;
		display: inline;
	}

	.portfolio-box .portfolio-box-caption {
		display:block;
		position:absolute;
		bottom:0;
		width:100%;
		height:100%;
		text-align:center;
		color:#fff;
		opacity:0;
		background:rgba(245,124,0,0.9);
		-webkit-transition:all .35s;
		-moz-transition:all .35s;
		transition:all .35s;

	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
		position:absolute;
		top:50%;
		width:100%;
		text-align:center;
		transform:translateY(-50%);
		font-family: "riffic-bold", "Serif", "Sans-serif", "arial";
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		padding:0 15px;
		font-family: "riffic-bold", Serif, "Sans-serif", arial;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		text-transform:uppercase;
		font-size:14px;
		font-weight:600;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size:18px;
		font-family: "riffic-bold", Serif, "Sans-serif", arial
	}
	.portfolio-box:hover .portfolio-box-caption {
		opacity:1;
	}

	@media(min-width:768px) {
		.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
			font-size:16px;
		}
		.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
			font-size:22px;
			font-family: "riffic-bold", Serif, "Sans-serif", arial
		}
	}
		//----

		.call-to-action h2 {
			margin:0 auto 20px;
		}

		.no-gutter>[class*=col-] {
			padding-right:0;
			padding-left:0;
		}
		// .btn-default {
		// 	border-color:#fff;
		// 	color:#222;
		// 	background-color:#fff;
		// 	-webkit-transition:all .35s;
		// 	-moz-transition:all .35s;
		// 	transition:all .35s;
		// }
		// .btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
		// 	border-color:#ededed;
		// 	color:#222;
		// 	background-color:#f2f2f2;
		// }
		// .btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
		// 	background-image:none;
		// }
		// .btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
		// 	border-color:#fff;
		// 	background-color:#fff;
		// }
		// .btn-default .badge {
		// 	color:#fff;
		// 	background-color:#222;
		// }
		// .btn-primary {
		// 	border-color:#f05f40;
		// 	color:#fff;
		// 	background-color:#f05f40;
		// 	-webkit-transition:all .35s;
		// 	-moz-transition:all .35s;
		// 	transition:all .35s;
		// }
		// .btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
		// 	border-color:#ed431f;
		// 	color:#fff;
		// 	background-color:#ee4b28;
		// }
		// .btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
		// 	background-image:none;
		// }
		// .btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
		// 	border-color:#f05f40;
		// 	background-color:#f05f40;
		// }
		// .btn-primary .badge {
		// 	color:#f05f40;
		// 	background-color:#fff;
		// }
		.btn {
			border:0;
			border-radius:300px;
			text-transform:uppercase;
			font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
			font-weight:700;
		}
		// .btn-xl {
		// 	padding:15px 30px;
		// }
		// ::-moz-selection {
		// 	text-shadow:none;
		// 	color:#fff;
		// 	background:#222;
		// }
		// ::selection {
		// 	text-shadow:none;
		// 	color:#fff;
		// 	background:#222;
		// }
		img::selection {
			color:#fff;
			background:0 0;
		}
		img::-moz-selection {
			color:#fff;
			background:0 0;
		}
		body {
			-webkit-tap-highlight-color:#222;
		}
		.carousel-caption {
			 top:30%;
		}
		.main-container {
			padding:40px 15px;
		}

		// .btn {
		// 	font-size:11px;
		// 	text-transform:uppercase;
		// 	letter-spacing:2px;
		// 	border-radius:3px;
		// 	font-weight:600;
		// 	-webkit-transition:all .3s ease-in-out;
		// 	-moz-transition:all .3s ease-in-out;
		// 	transition:all .3s ease-in-out;
		// }
		// .btn-ghost {
		// 	border:1px solid #eee;
		// 	color:#fff;
		// 	background:0;
		// }
		// .btn-ghost:hover {
		// 	background:#fff;
		// }
		// .btn-white {
		// 	background-color:#fff;
		// 	border:1px solid #fff;
		// 	color:#222;
		// }
		// .btn-round {
		// 	border-radius:300px;
		// 	border:0;
		// 	font-weight:700;
		// }
		// .btn-round:hover {
		// 	border-radius:300px;
		// }
		// .equal-heights .col-md-4 {
		// 	padding-left:0;
		// 	padding-right:0;
		// }
		// .equal-heights .box {
		// 	padding:60px;
		// }
		// .w-middle {
		// 	transform-style:preserve-3d;
		// }
		// @media(min-width:780px) {
		// 		.w-middle .box {
		// 			position:relative;
		// 			top:50%;
		// 			-webkit-transform:translateY(-50%);
		// 			-ms-transform:translateY(-50%);
		// 			transform:translateY(-50%);
		// 	}
		// }
		// .box h2 {
		// 	font-size:26px;
		// 	margin-bottom:20px;
		// 	margin-top:0;
		// }
		// .equal-heights img {
		// 	max-width:100%;
		// 	height:auto;
		// 	width:100%;
		// 	display:block;
		// }
		// .iconbox {
		// 	display:inline-block;
		// 	width:80px;
		// 	height:80px;
		// 	color:#fff;
		// 	border-radius:50%;
		// 	line-height:90px;
		// }
		//**===team section ===**//
		#teambio {
			margin: 50px 0;
			background-color: white;
		}

		#teambio .bg-primary {
			background-color: #fff;
			color: black;
			
		}

		.teambox h2 {
			margin:0;
			font-size:17px;
			font-weight:600;
			text-transform:uppercase;
			letter-spacing:1px;
			padding:20px 20px 5px 20px;
			text-align:center;
		}
		.teambox p {
			margin:0;
			padding:0px 20px 15px 20px;
			font-size:14px;
			text-transform:uppercase;
			font-weight:300;
			text-align:center;
		}
		.team-social a {
			background:rgba(0,0,0,0.05);
			height:40px;
			width:40px;
			text-align:center;
			border-radius:5px;
			color:#fff;
			line-height:40px;
			font-size:15px;
			-webkit-transition:all .3s ease-in;
			-moz-transition:all .3s ease-in;
			-o-transition:all .3s ease-in;
			transition:all .3s ease-in;
			display:inline-block;
			margin-bottom:3px;
			margin-right:4px;
		}
		.team-social {
			padding:0 20px 20px 20px;
			text-align:center;
		}
		.team-social a:hover {
			color: #F57C00;
		}
		.overlay-image {
			width:100%;
			height:100%;
			overflow:hidden;
			position:relative;
			text-align:center;
			background:#222
		}
		.port-zoom-link p {
			width:100%;
			color: white;
		}
		.overlay-image .mask,.overlay-image .content {
			width:100%;
			height:100%;
			position:absolute;
			overflow:hidden;
			top:0;
			left:0
		}
		.view-overlay img {
			-webkit-transform:scaleY(1);
			-moz-transform:scaleY(1);
			-o-transform:scaleY(1);
			-ms-transform:scaleY(1);
			transform:scaleY(1);
			-webkit-transition:all .7s ease-in-out;
			-moz-transition:all .7s ease-in-out;
			-o-transition:all .7s ease-in-out;
			-ms-transition:all .7s ease-in-out;
			transition:all .7s ease-in-out
		}
		.view-overlay .mask {
			-webkit-transition:all .5s linear;
			-moz-transition:all .5s linear;
			-o-transition:all .5s linear;
			-ms-transition:all .5s linear;
			transition:all .5s linear;
			-ms-filter:"alpha(opacity=0)";
			filter:alpha(opacity=0);
			opacity:0
		}
		.port-zoom-link {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			padding:0 20px;
			align-items:center;
			display:flex;
		}
		.view-overlay:hover img {
			-webkit-transform:scale(10);
			-moz-transform:scale(10);
			-o-transform:scale(10);
			-ms-transform:scale(10);
			transform:scale(10);
			-ms-filter:"alpha(opacity=0)";
			filter:alpha(opacity=0);
			opacity:0
		}
		.view-overlay:hover .mask {
			-ms-filter:"alpha(opacity=100)";
			filter:alpha(opacity=100);
			opacity: 1
		}
		/* Quote Carousel */
		#quote-carousel {
			padding:0 10px 30px 10px;
			margin-top:30px;
			/* Control buttons */
			/* Previous button */
			/* Next button */
			/* Changes the position of the indicators */
			/* Changes the color of the indicators */
		}
		#quote-carousel .carousel-control {
			background:none;
			color:#CACACA;
			font-size:2.3em;
			text-shadow:none;
			margin-top:30px;
		}
		#quote-carousel .carousel-control.left {
			left:0px;
		}
		#quote-carousel .carousel-control.right {
			right:0px;
		}
		#quote-carousel .carousel-indicators {
			right:50%;
			top:auto;
			bottom:0px;
			margin-right:-19px;
		}
		#quote-carousel .carousel-indicators li {
			width:50px;
			height:50px;
			margin:5px;
			cursor:pointer;
			border:0;
			border-radius:50px;
			opacity:0.4;
			overflow:hidden;
			transition:all 0.4s;
		}
		#quote-carousel .carousel-indicators .active {
			background:#333333;
			width:120px;
			height:120px;
			border-radius:100px;
			border-color:#f33;
			opacity:1;
			overflow:hidden;
		}
		.carousel-inner {
			min-height:300px;
		}
		.item blockquote {
			border-left:none;
			 margin:0;
			 font-size:24px;
			line-height:1.6;
			padding:0 0px 145px 0;
			font-weight:300;
			font-family:Georgia;
			font-style:italic;
			color:#222;
		}
		.item blockquote p:before {
			content:"\f10d";
			font-family:'Fontawesome';
			float:left;
			margin-right:10px;
		}
		.parallax-image {
			background-position:50% 0;
			background-repeat: repeat;
			background-attachment:fixed;
			 position:relative;
		}
		.wrapsection {
			padding:0px 0;
			position:relative;
			margin:0px 0;
		}
		.parallax-content {
			position:relative;
			z-index:4;
			padding:80px 0;
		}
		.parallax .overlay {
			position:absolute;
			top:0;
			bottom:0;
			right:0;
			left:0;
			opacity:0.0;
			z-index:2;
		}
		/****--Fun Facts ****/
		#funfacts {
			padding: 20px 0;
			margin: 50px 0;

		}
		.parallax-image {
			background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("scrolldown.jpg");
			z-index:1;
		}

		.funfacts .icon {
			font-size:40px;
			display:inline-block;
			width:80px;
			height:80px;
			line-height:80px;
			text-align:center;
			border-radius:50%;
			margin-bottom:10px;
			clear:both;
			color:#fff;
			border:0;
			background:rgba(0,0,0,0.2);
			z-index:100;
		}
		.funfacts .icon a {
			color:#fff;
		}
		.funfacts .counter {
			font-size:70px;
			color:#fff;
			font-weight:700;
		}
		.funfacts h2  {
			text-transform:uppercase;
			font-size:15px;
			margin:22px 0 0;
			position:relative;
			letter-spacing:1px;
			color: #FFF;
		}

		.funfacts h4 {
			text-transform:uppercase;
			font-size:15px;
			margin:22px 0 0;
			position:relative;
			letter-spacing:1px;
			color: #FFF;
		}

@media only screen and (max-width:768px) {
			.parallax {
				background-attachment:scroll !important;
				background-position:100% !important;
			}
			.portfolio-box img,.team-thumb img {
				width:100%;
			}
			.funfacts {
				margin-bottom:30px;
			}
			.regularform input,.regularform textarea {
				width:100%;
				border:1px solid #eee;
			}
			.item blockquote {
				font-size:16px;
			}
			#quote-carousel .carousel-control {
				display:none;
			}
			.funfacts .counter {
				font-size:35px;
			}
			section {
				padding:30px 0;
			}
			.equal-heights .box {
				padding:30px;
			}
			.carousel-caption h1 {
				font-size:60px;
			}
			.section-heading {
				font-size:30px;
			}
			#quote-carousel .carousel-indicators .active {
				width:80px;
				height:80px;
			}
			#quote-carousel {
				padding:0 10px 10px 10px;
				margin-top: 30px;
			}
		}
////----------button--------------
.btn-danger {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	color: white;
  background-color: #FFA726;
  border-color: #FFA726;
	font-weight: bold;
	text-shadow:0px 1px 0px #cc9f52;
}

.btn-danger:hover {
  background-color: #F57C00;
  border-color: #F57C00;
}

.btn-danger:active {
	position:relative;
	top:1px;
}

///-----------footer-------------///

footer.container-fluid {
	text-align: center;
	background-color: #F57C00;
	color: white;
	padding: 60px 0 30px;
}

footer .footer-head {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #9eb8cc;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 20px;
	letter-spacing: 1px;
	padding-left: 2px;
}

footer p{
	line-height: 23px;
}

.page-links li{
	display: inline;
	padding: 10px;
}

.social-links li {
	display: inline;
	padding: 10px;
}

footer a{
	color: white;
}

footer a:hover {
	font-weight: bold;
	text-decoration: none;
}
