/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

////----------fontface-----------
@font-face {
    font-family: 'riffic-bold';
    src: font-url('riffic-bold-webfont.woff2') format('woff2'),
         font-url('riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

////----------Layouts-----------
html, body{
	width: 100%;
	height: 100%;
	position: relative;
}

.container-fluid {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
}

.row {
	margin: 15px 10px;
}

p {
	margin: 0 0 10px;
}

.section-heading {
	color: #F57C00
}
////----------navbar--------------
.navbar-brand img {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 6px;
		padding-top: 2px;
    width: 40px;
    height: 50px;
}

.navbar-block {
		background-color: #FFB300;
		height:55px;
		border-bottom: 2px solid;
		border-color: rgba(255,255,255,0.6);
}

.navbar-default .navbar-brand-reg {
    color: #FFFFFF;
}

.navbar-default .navbar-brand-core {
    color: #F57C00;
		// -webkit-text-stroke-width: 0.5px;
		// -webkit-text-stroke-color: black;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 12px 15px;
		margin-top: 5px;
    line-height: 30px;
    position: relative;
    left: 15px;
    bottom: 13px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    font-weight: bold;
}

/**-- Main dropdown Menu ---***/
.dropdown .dropdown-toggle i{
	position: absolute;
	display: block;
	border: none;
	color: rgba(255,255,255,0.6);
	cursor: pointer;
}

.dropdown .dropdown-toggle:hover i{
	color: #FFFFFF;
}

ul.dropdown-menu {
	background-color: rgba(255,255,255,0.8);
	vertical-align: middle;
	top: 40px;
}

ul.dropdown-menu > li > a:hover{
	background-color: #F57C00;
	color: white;
}

  /**---Rightside Menu --**/
#bs-example-navbar-collapse-1 .navbar-right > li > a {
	color: #FFFFFF;
	border-color: #FFFFFF;
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 10px;
	right: 30px;
}

#bs-example-navbar-collapse-1 .navbar-right  > li > a:hover,
#bs-example-navbar-collapse-1 .navbar-right  > li > a:focus {
    color: white;
    border-color: #FFFFFF;
    background-color: #F57C00;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

li.navbar-link > li > a {
		color: white;
		border: none;
		border-color: none;
}

#bs-example-navbar-collapse-1 .navbar-link> .active > a,
#bs-example-navbar-collapse-1 .navbar-nav .navbar-cart> .active > a:hover,
#bs-example-navbar-collapse-1 .navbar-nav .navbar-cart> .active > a:focus {
    color: #FFFFFF;
    background-color: #F57C00;
		border: none;
}

#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a,
#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a:focus,
#bs-example-navbar-collapse-1 ul.navbar-nav  > .open > a:hover {
    background-color: transparent;
    color: #FFFFFF;
}

////----------button--------------
.btn-danger {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	color: white;
  background-color: #FFA726;
  border-color: #FFA726;
	font-weight: bold;
	text-shadow:0px 1px 0px #cc9f52;
}

.btn-danger a:hover {
  background-color: #F57C00;
  border-color: #F57C00;
}

.btn-danger:active {
	position:relative;
	top:1px;
}

.btn-alpha {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	color: white;
  background-color: #FFA726;
  border-color: #FFA726;
	font-weight: bold;
	text-shadow:0px 1px 0px #cc9f52;
}

.btn-alpha:hover {
  background-color: #F57C00;
  border-color: #F57C00;
  color: white;
}

.btn-danger:active {
	position:relative;
	top:1px;
}

////--------flashes----------////
.alert {
  margin-bottom: 0px;
}

////----------Program Index----------////
.index-cat {
  color: #F57c00;
}
