<footer class="container-fluid">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="footer-head become-partner-head">Become an Alpha Partner </p>
        <p class="become-partner">
          Looking to contribute to our next generations? We would love to hear from all talents.
          <br/ >Expand your business with Alpha Baby today!
          <br/>
          <a class="contact-us" href= "/contact-us"><b>Contact us Now! </b></a>
        </p>
      </div>

<br>

      <div class ="col-lg-12 col-md-12 col-sm-12">
        <p class="footer-head"> Learn More</p>
        <ul class="lst-unstyled page-links">
          <li>
            <a href="/privacy">Privacy</a>
          </li>
          <li>
            <a href="/terms">Terms </a>
          </li>
          <li>
            <a href="/instructors"> Instructors</a>
          </li>
          <li>
            <a href="/help"> FAQ </a>
          </li>
          <li>
            <a href="/press"> Press</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
          <li>
            <a href="/community">AlphaCommunity</a>
          </li>
        </ul>
      </div>

<br>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="footer-head">Connect</p> <br />
          <ul class="lst-unstyled social-links">
            <li>
              <a href="#" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a>
            </li>
            <li>
              <a href="http://twitter.com/kfit_asia" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            </li>
            <li>
              <a href="http://instagram.com/kfit_asia" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
            </li>
            <li>
              <a class="ask" href="#">ask@alphababy.com</a>
            </li>
          </ul>
<br>
        <div class="locale-selector btn-group dropup">
          <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe fa-lg"></i>
            <span class="current-locale small">English</span><span class="caret"></span>
          </button>
          <br>
          <ul class="dropdown-menu" role="menu">
            <li class="disabled ">
              <a href="/?locale=en">英文 <span class="name">English</span></a>
            </li>
            <li class=" ">
              <a href="/?locale=zh-CN">中文 (简体) <span class="name">Chinese</span></a>
            </li>
          </ul>
        </div>
      </div>
<br>
<br>
    <p class="text-center" style="color:black">Copyright ©2017 Alpha Kids Academy
        <br>Design by Yoanna
    </p>

</footer>
